<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    <h2>Travel Destinations To Click On</h2>
  </span>
  <span class="navbar-text">
    <h3><%= link_to "Home", root_path %> | <%= link_to "Search", destinations_path %> | <%= link_to "Other Search", destinations_path %> </h3>
  </span>
</nav>
